<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>fragments</title>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
	</head>
	<body class="container-fluid" th:object="${offertaSpeciale}">
		
		<h1>
			Modifica la tua Offerta Speciale!
		</h1>
		
		<form class="row g-3" th:action="@{/OffertaSpeciale/update/{id} (id=*{id})}" method="POST">
		
			<select name="pizza">
				<option
					th:each="pizza : ${pizze}"
					th:object="${pizza}"
					th:value="*{id}"
				>
					[[ *{name} ]]
				</option>
			</select>
		
		  <div class="col-12">
		    <label class="form-label">Titolo</label>
		    <input type="text" class="form-control" name="title" th:value="*{title}">
		    
		  </div>
		  
		  <div class="col-6">
		    <label class="form-label">Data inizio</label>
		    <input type="date" class="form-control" name="startingDate" th:value="*{startingDate}">
		    
		  </div>
		  
		  <div class="col-6">
		    <label class="form-label">Data fine</label>
		    <input type="date" class="form-control" name="endingDate" th:value="*{endingDate}">
		    
		  </div>
		  
		  <div class="col-6">
		    <label class="form-label">Sconto</label>
		    <input type="number" class="form-control" name="discount" th:value="*{discount}">
		    
		  </div>
		  
		  <div class="col-12 text-center">
		  	<input type="submit" value="Modificala!" class="btn btn-success">
		  </div>

		
		</form>

		<a th:replace="fragments :: backHome()"></a>
	 
	</body>
</html>